@model ProjectManagement2.Report

@{
    ViewBag.Title = "Details";
    //var userID = Session["UserID"];
    //var userID = Convert.ToInt32(Session["UserID"]);
 

    var date = DateTime.Now;
    String position = ViewBag.Position;
    int userID = ViewBag.UserID;
    string status = ViewBag.Status;
}

<h2>Details</h2>

<div>
    <h4>Report for @position</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReportName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReportName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project.ProjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.ProjectName)
        </dd>

    </dl>

    <table class="table">
        <tr>
            <th>
                Progress Detail
                @Html.ActionLink("+", "Create", "Progress", new { rid = Model.ReportID, pid = Model.ProjectID }, new { @class = "btn btn-success btn-xs btn3d" })
            </th>
            <th></th>

        </tr>

        @foreach (var item in Model.Progresses)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProgressDetail)
                    @Html.ActionLink("-", "Delete", "Progress", new { id = item.ProgressID }, new { @class = "btn btn-danger btn-xs btn3d" })


                </td>
            </tr>

        }

    </table>

    <table class="table">
        <tr>
            <th>
                Result
                @Html.ActionLink("+", "Create", "Result", new { rid = Model.ReportID, pid = Model.ProjectID }, new { @class = "btn btn-success btn-xs btn3d" })
            </th>
            <th></th>

        </tr>

        @foreach (var item in Model.Results)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ResultItem)
                </td>
            </tr>
        }
    </table>

    <table class="table">
        <tr>
            <th>
                Member
                @Html.ActionLink("+", "Create", "Member", new { pid = Model.ProjectID }, new { @class = "btn btn-success btn-xs btn3d" })
            </th>
            <th>Wages</th>
            <th>Working Hours</th>
            <th>Total</th>

        </tr>

        @foreach (var item in Model.Project.Members)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MemberPosition)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Wages)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkingHour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalWages)
                </td>
            </tr>
        }
    </table>

    <table class="table">
        <tr>
            <th>Task</th>
            <th>Task Type</th>
            <th>Task Start Date</th>
            <th>Task End Date</th>
            <th></th>

        </tr>

        @foreach (var item in Model.Tasks)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TaskName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaskType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaskStartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaskEndDate)
                </td>
            </tr>
        }
    </table>


    <table class="table">
        <tr>
            <th>Action Name</th>
            <th>Action By</th>
            <th>Position</th>
            <th>Action Date</th>
            <th></th>

        </tr>


        @foreach (var item in Model.Actions)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ActionName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Member.User.FirstName) @Html.DisplayFor(modelItem => item.Member.User.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Member.MemberPosition)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActionDate)
                </td>
            </tr>
        }
    </table>

</div>

@*@if (status.Equals("Drafted") && position.Equals("Project Reviewer"))*@
@if (status.Equals("Drafted") && position.Equals("Project Reviewer"))

    {
    <p>
        @Html.ActionLink("Reviewed", "Activity", "Action", new { id = Model.ReportID, userID = userID, actionName = "Reviewed", date = date }, new { @class = "btn btn-info btn-lg btn3d" })
        @Html.ActionLink("Reject", "Reject", "Action", new { id = Model.ReportID, userID = userID, date = date }, new { @class = "btn btn-danger btn-lg btn3d" })
    </p>
}
else if (status.Equals("Reviewed") && position.Equals("Director"))
{
    <p>
        @Html.ActionLink("Approve", "Activity", "Action", new { id = Model.ReportID, userID = userID, actionName = "Approved", date = date }, new { @class = "btn btn-success btn-lg btn3d" })
        @Html.ActionLink("Reject", "Reject", "Action", new { id = Model.ReportID, userID = userID, date = date }, new { @class = "btn btn-danger btn-lg btn3d" })
    </p>
}
else
{         
    @Html.ActionLink("Submit", "Activity", "Action", new { id = Model.ReportID, userID = userID, actionName = "Submitted", date = date }, new { @class = "btn btn-success btn-lg btn3d" })
}
