@model ProjectManagement2.Report

@{
    ViewBag.Title = "Edit";

}

@*<h2>Edit</h2>*@


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Report</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ReportID)

        <div class="form-group">
            @Html.LabelFor(model => model.ReportName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReportName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ReportName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(a => a.ProjectID)

        <div class="form-group">
            @Html.LabelFor(model => model.CreatedDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreatedDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CreatedDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-success" />
                @Html.ActionLink("Back to List", "Index", "Project", new { id = Model.ProjectID }, new { @class = "btn btn-warning" })


            </div>
        </div>
    </div>
}

@{
    ViewBag.Title = "Details";
    //var userID = Session["UserID"];
    //var userID = Convert.ToInt32(Session["UserID"]);


    var date = DateTime.Now;
    String position = ViewBag.Position;
    int userID = ViewBag.UserID;
    string status = ViewBag.Status;
    string oStatus = ViewBag.oStatus;
    int i = 1; //progress
    int r = 1; //result
    int m = 1; // member
    int t = 1; //task
}

@*<h2>Details</h2>*@
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            @*<div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                @*<div class="modal-body">
                    <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>*@
        </div>

    </div>
</div>



<div>
    <h4>Report for @position</h4>
    @*@if (position.Equals("Project Manager"))
        {
            <button class="btn btn-info" id="editModeBtn">Edit</button>
        }*@

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-primary">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                        <h2 class="panel-title" style="font-size:30px; line-height:40px;">
                            @Model.ReportName
                        </h2>
                    </div>
                    <div class="panel-body">
                        @*<h3>
                                <button class="btn btn-info" id="editModeBtn">@Model.ReportName</button>
                            </h3>*@
                        @*</div>*@
                        <ul class="list-group">
                            <li class="list-group-item">
                                @*<h4>Account # 1364672 (current debit:: $356.61)</h4>*@
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th class="col-xs-3 well" style="vertical-align:middle; text-align:center"><a id="taskMenu"> TASK </a></th>
                                            <th class="col-xs-3" style="vertical-align:middle; text-align:center">Task Start Date</th>
                                            <th class="col-xs-2" style="vertical-align:middle; text-align:center">Task End Date</th>
                                            <th class="col-xs-2" style="vertical-align:middle; text-align:center">Task Type</th>
                                            <th class="col-xs-9"></th>
                                            <th></th>
                                            <th></th>
                                            <th class="col-xs-3" style="vertical-align:middle;">@Html.ActionLink("+", "Create", "Task", new { rid = Model.ReportID, pid = Model.ProjectID }, new { @class = "btn btn-success btn-md btn3d", id = "taskCreate", data_toggle = "modal", data_target = "#myModal" })</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var item in Model.Tasks)
                                        {
                                            <tr>
                                                <td style="font-size: 16px; vertical-align:middle; text-align:center">
                                                    @Html.DisplayFor(modelItem => item.TaskName)
                                                </td>
                                                <td style="font-size: 16px; vertical-align:middle; text-align:center">
                                                    @Html.TextBoxFor(modelItem => item.TaskStartDate, "{0:MM/yyyy}", new { @class="my-dateStyle", @readonly = true})
                                                </td>
                                                <td style="font-size: 16px; vertical-align:middle; text-align:center">
                                                    @Html.TextBoxFor(modelItem => item.TaskEndDate, "{0:MM/yyyy}", new { @class = "my-dateStyle", @readonly = true })                                                </td>
                                                <td style="font-size: 16px; vertical-align:middle; text-align:center">
                                                    @Html.DisplayFor(modelItem => item.TaskType)
                                                </td>
                                                <td></td>
                                                <td></td>
                                                <td>@Html.ActionLink("EDIT", "Edit", "Task", new { id = item.TaskID }, new { @class = "btn btn-warning btn-sm", id = "taskEdit_" + t, data_toggle = "modal", data_target = "#myModal" })</td>
                                                <td>@Html.ActionLink("X", "Delete", "Task", new { id = item.TaskID }, new { @class = "btn btn-danger btn-sm", id = "taskDel_" + t, data_toggle = "modal", data_target = "#myModal" })</td>
                                            </tr>
                                            t = t + 1;
                                        }
                                    </tbody>
                                </table>
                            </li>

                            <li class="list-group-item">
                                @*<h4>Account # 1364672 (current debit:: $356.61)</h4>*@
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th class="col-xs-3 well" style="vertical-align:middle; text-align:center"><a id="statusMenu"> PROJECT STATUS </a></th>
                                            <th class="col-xs-3"></th>
                                            <th class="col-xs-3"></th>
                                            <th class="col-xs-3"></th>

                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr>
                                            <td style="font-size: 16px; vertical-align:middle; text-align:center">
                                                @Html.DisplayFor(model => model.Project.ProjectStatus)
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </li>

                            <li class="list-group-item">
                                @*<h4>Account # 1364672 (current debit:: $356.61)</h4>*@
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th class="col-xs-3 well" style="vertical-align:middle; text-align:center"><a id="resultMenu"> RESULT </a></th>
                                            @*<th></th>*@
                                            <th class="col-xs-9"></th>
                                            <th></th>
                                            <th class="col-xs-3">@Html.ActionLink("+", "Create", "Result", new { rid = Model.ReportID, pid = Model.ProjectID }, new { @class = "btn btn-success btn-md btn3d", id = "resultCreate", data_toggle = "modal", data_target = "#myModal" })</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var item in Model.Results)
                                        {
                                            <tr>
                                                <td style="font-size: 16px; vertical-align:middle; text-align:center">
                                                    @Html.DisplayFor(modelItem => item.ResultItem)
                                                </td>
                                                <td></td>
                                                <td>@Html.ActionLink("EDIT", "Edit", "Result", new { id = item.ResultID }, new { @class = "btn btn-warning btn-sm", id = "resultEdit_" + r, data_toggle = "modal", data_target = "#myModal" })</td>
                                                <td>@Html.ActionLink("X", "Delete", "Result", new { id = item.ResultID }, new { @class = "btn btn-danger btn-sm", id = "resultDel_" + r, data_toggle = "modal", data_target = "#myModal" })</td>
                                            </tr>
                                            r = r + 1;
                                        }
                                    </tbody>
                                </table>
                            </li>

                            <li class="list-group-item">
                                @*<h4>Progress Detail</h4>*@
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th class="col-xs-3 well" style="vertical-align:middle; text-align:center"><a id="progressMenu"> PROGRESS </a></th>
                                            @*<th></th>*@
                                            <th class="col-xs-9"></th>
                                            <th></th>
                                            <th class="col-xs-3">@Html.ActionLink("+", "Create", "Progress", new { rid = Model.ReportID, pid = Model.ProjectID }, new { @class = "btn btn-success btn-md btn3d", id = "progressCreate", data_toggle = "modal", data_target = "#myModal" })</th>
                                        </tr>
                                        <tr>

                                    </thead>
                                    <tbody>

                                        @foreach (var item in Model.Progresses)
                                        {
                                            <tr>
                                                <td style="font-size: 16px; vertical-align:middle; text-align:center;"> @Html.DisplayFor(modelItem => item.ProgressDetail)</td>
                                                <td></td>
                                                @*<td style="font-size: 16px;">
                                                        @Html.DisplayFor(modelItem => item.ProgressDetail)
                                                    </td>*@

                                                <td>@Html.ActionLink("EDIT", "Edit", "Progress", new { id = item.ProgressID }, new { @class = "btn btn-warning btn-sm", id = "progressEdit_" + i, data_toggle = "modal", data_target = "#myModal" })</td>
                                                <td>@Html.ActionLink("X", "Delete", "Progress", new { id = item.ProgressID }, new { @class = "btn btn-danger btn-sm", id = "progressDel_" + i, data_toggle = "modal", data_target = "#myModal" })</td>
                                            </tr>
                                            i = i + 1;
                                        }
                                    </tbody>
                                </table>
                            </li>

                            <li class="list-group-item">
                                @*<h4>Account # 1364672 (current debit:: $356.61)</h4>*@
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th class="col-xs-3 well" style="vertical-align:middle; text-align:center"><a id="memberMenu"> MEMBER </a></th>
                                            <th class="col-xs-3" style="vertical-align:middle; text-align:center">Wages</th>
                                            <th class="col-xs-2" style="vertical-align:middle; text-align:center">Working Hours</th>
                                            <th class="col-xs-2" style="vertical-align:middle; text-align:center">Total Wages</th>
                                            <th class="col-xs-9"></th>
                                            <th></th>
                                            <th></th>
                                            @*<th class="col-xs-3" style="vertical-align:middle;">@Html.ActionLink("+", "Create", "Member", new { pid = Model.ProjectID }, new { @class = "btn btn-success btn-md btn3d", id = "memberCreate", data_toggle = "modal", data_target = "#myModal" })</th>*@
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var item in Model.Project.Members)
                                        {
                                            <tr>
                                                <td style="font-size: 16px; vertical-align:middle; text-align:center">
                                                    @Html.DisplayFor(modelItem => item.MemberPosition)
                                                </td>
                                                <td style="font-size: 16px; vertical-align:middle; text-align:center">
                                                    @Html.DisplayFor(modelItem => item.Wages)
                                                </td>
                                                <td style="font-size: 16px; vertical-align:middle; text-align:center">
                                                    @Html.DisplayFor(modelItem => item.WorkingHour)
                                                </td>
                                                <td style="font-size: 16px; vertical-align:middle; text-align:center">
                                                    @Html.DisplayFor(modelItem => item.TotalWages)
                                                </td>
                                                <td></td>
                                                <td></td>
                                                @*<td>@Html.ActionLink("EDIT", "Edit", "Member", new { id = item.MemberID }, new { @class = "btn btn-warning btn-sm", id = "memberEdit_" + m, data_toggle = "modal", data_target = "#myModal" })</td>
                                                <td>@Html.ActionLink("X", "Delete", "Member", new { id = item.MemberID }, new { @class = "btn btn-danger btn-sm", id = "memberDel_" + m, data_toggle = "modal", data_target = "#myModal" })</td>*@
                                            </tr>
                                            m = m + 1;
                                        }
                                    </tbody>
                                </table>
                            </li>

                            <li class="list-group-item">
                                @*<h4>Account # 1364672 (current debit:: $356.61)</h4>*@
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th class="col-xs-3 well" style="vertical-align:middle; text-align:center"><a id="actionMenu"> ACTION </a></th>
                                            <th class="col-xs-3" style="vertical-align:middle; text-align:center">Action By</th>
                                            <th class="col-xs-2" style="vertical-align:middle; text-align:center">Position</th>
                                            <th class="col-xs-2" style="vertical-align:middle; text-align:center">Action Date</th>
                                            <th class="col-xs-9"></th>
                                            <th></th>
                                            <th></th>
                                            @*<th class="col-xs-3" style="vertical-align:middle;">@Html.ActionLink("+", "Create", "Member", new { pid = Model.ProjectID }, new { @class = "btn btn-success btn-md btn3d", id = "memberCreate", data_toggle = "modal", data_target = "#myModal" })</th>*@
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var item in Model.Actions)
                                        {
                                            <tr>
                                                <td style="font-size: 16px; vertical-align:middle; text-align:center">
                                                    @Html.DisplayFor(modelItem => item.ActionName)
                                                </td>
                                                <td style="font-size: 16px; vertical-align:middle; text-align:center">
                                                    @Html.DisplayFor(modelItem => item.Member.User.FullName)
                                                </td>
                                                <td style="font-size: 16px; vertical-align:middle; text-align:center">
                                                    @Html.DisplayFor(modelItem => item.Member.MemberPosition)
                                                </td>
                                                <td style="font-size: 16px; vertical-align:middle; text-align:center">
                                                    @Html.TextBoxFor(modelItem => item.ActionDate, "{0:MM/yyyy}", new { @class = "my-dateStyle", @readonly = true })
                                                </td>
                                                <td></td>
                                                <td></td>
                                                @*<td>@Html.ActionLink("EDIT", "Edit", "Member", new { id = item.MemberID }, new { @class = "btn btn-warning btn-sm", id = "memberEdit_" + m, data_toggle = "modal", data_target = "#myModal" })</td>
                                                <td>@Html.ActionLink("X", "Delete", "Member", new { id = item.MemberID }, new { @class = "btn btn-danger btn-sm", id = "memberDel_" + m, data_toggle = "modal", data_target = "#myModal" })</td>*@
                                            </tr>                                           
                                        }
                                    </tbody>
                                </table>
                            </li>


                        </ul>
                    </div> @*panel-body*@
                </div> @*panel-primary*@
            </div>
        </div>
    </div>
</div>

@*@if (status.Equals("Drafted") && position.Equals("Project Reviewer"))*@
@if (status.Equals("Submitted") && position.Equals("Project Reviewer") && oStatus.Equals("acknowledge"))

{
    <p>
        @Html.ActionLink("Reviewed", "Activity", "Action", new { id = Model.ReportID, userID = userID, actionName = "Reviewed", date = date }, new { @class = "btn btn-info btn-lg btn3d" })
        @Html.ActionLink("Reject", "Reject", "Action", new { id = Model.ReportID, userID = userID, date = date }, new { @class = "btn btn-danger btn-lg btn3d", data_toggle = "modal", data_target = "#myModal" })
    </p>
}
else if (status.Equals("Reviewed") && position.Equals("Director") && oStatus.Equals("acknowledge"))
{
    <p>
        @Html.ActionLink("Approve", "Activity", "Action", new { id = Model.ReportID, userID = userID, actionName = "Approved", date = date }, new { @class = "btn btn-success btn-lg btn3d" })
        @Html.ActionLink("Reject", "Reject", "Action", new { id = Model.ReportID, userID = userID, date = date }, new { @class = "btn btn-danger btn-lg btn3d", data_toggle = "modal", data_target = "#myModal" })
    </p>
}
else if (status.Equals("Drafted") && position.Equals("Project Manager") && oStatus.Equals("acknowledge"))
{
    @Html.ActionLink("Submit", "Activity", "Action", new { id = Model.ReportID, userID = userID, actionName = "Submitted", date = date }, new { @class = "btn btn-success btn-lg btn3d" })
}
else
{
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {

            for (var n = 0; n < @i; n++){
                $("#progressCreate").hide();
                $("#progressEdit_" + n).hide();
                $("#progressDel_" + n).hide();

            }
            for (var n = 0; n < @r; n++) {
                $("#resultCreate").hide();
                $("#resultEdit_" + n).hide();
                $("#resultDel_" + n).hide();
            }

            @*for (var n = 0; n < @m; n++){
                $("#memberCreate").hide();
                $("#memberEdit_" + n).hide();
                $("#memberDel_" + n).hide();

            }*@
            for (var n = 0; n < @t; n++) {
                $("#taskCreate").hide();
                $("#taskEdit_" + n).hide();
                $("#taskDel_" + n).hide();
            }



            $("#progressMenu").click(function () {
                $("#progressMenu").toggleClass("btn btn-lg btn-danger");
                $("#progressCreate").slideToggle();

                for (var n = 0; n < @i; n++) {
                    $("#progressEdit_" + n).slideToggle();
                    $("#progressDel_" + n).toggle();
                }

            })

            $("#resultMenu").click(function () {
                $("#resultMenu").toggleClass("btn btn-lg btn-danger");

                $("#resultCreate").slideToggle();


                for (var n = 0; n < @r; n++) {
                    $("#resultEdit_" + n).slideToggle();
                    $("#resultDel_" + n).slideToggle();
                }

            })

            @*$("#memberMenu").click(function () {
                $("#memberMenu").toggleClass("btn btn-lg btn-danger");
                $("#memberCreate").slideToggle();

                for (var n = 0; n < @m; n++) {
                    $("#memberEdit_" + n).slideToggle();
                    $("#memberDel_" + n).slideToggle();
                }

            })*@

            $("#taskMenu").click(function () {
                $("#taskMenu").toggleClass("btn btn-lg btn-danger");
                $("#taskCreate").slideToggle();


                for (var n = 0; n < @t; n++) {
                    $("#taskEdit_" + n).slideToggle();
                    $("#taskDel_" + n).slideToggle();
                }

            })

            $("#editModeBtn").click(function () {


            })
        })
    </script>
}
