@model ProjectManagement2.Project

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_ModalLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    @*<h4>Project</h4>*@
    @*<hr />*@


    @*<table class="table">
        <tr>
            <th style="vertical-align:middle; text-align:center">Project</th>
            <th style="vertical-align:middle; text-align:center">Project Status</th>
            <th style="vertical-align:middle; text-align:center">Project Start Date</th>
            <th style="vertical-align:middle; text-align:center">Project End Date</th>
        </tr>

        <tr>
            <td style="vertical-align:middle; text-align:center">
                @Html.DisplayFor(model => model.ProjectName)
            </td>
            <td style="vertical-align:middle; text-align:center">
                @Html.DisplayFor(model => model.ProjectStatus)
            </td>
            <td style="vertical-align:middle; text-align:center">
                @Html.TextBoxFor(model => model.ProjectStartDate, "{0:dd/MM/yyyy}", new { @class = "my-dateStyle", @readonly = true })
            </td>
            <td style="vertical-align:middle; text-align:center">
                @Html.TextBoxFor(model => model.ProjectEndDate, "{0:dd/MM/yyyy}", new { @class = "my-dateStyle", @readonly = true })
            </td>
        </tr>
    </table>*@

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> 
            @Html.ActionLink("Back to List", "Index", new { id = Model.ProjectID }, new { @class = "btn btn-warning" })
        </div>
    }
</div>
