@model ProjectManagement2.Project

@{
    ViewBag.Title = "Details";
    string position = Session["Position"].ToString();
    
}

<h2>Details</h2>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectEndDate)
        </dd>
  </dl>

    <table class="table">
        <tr>
            <th>
                
                Member
                @if (position.Equals("Project Manager"))
                {
                    @Html.ActionLink("+", "Create", "Member", new { pid = Model.ProjectID }, new { @class = "btn btn-success btn-xs btn3d" })
                }

            </th>
            <th>Wages</th>
            <th>Working Hours</th>
            <th>Total</th>

        </tr>

        @foreach (var item in Model.Members)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MemberPosition)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Wages)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkingHour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalWages)
                </td>
            </tr>
        }
    </table>

</div>
<p>
   @* @Html.ActionLink("Add Member", "Create", "Member", new { id = id })*@
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProjectID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
