@*@model IEnumerable<ReportManagement.Project>*@
@model ProjectManagement2.ViewModel.ProjectSummary


@{
    ViewBag.Title = "Project Summary";
    string position = ViewBag.Position;
    int pid = ViewBag.ProjectID;
    int rid = ViewBag.ReportID;
    int uid = ViewBag.UserID;

}

@*<link rel="stylesheet" type="text/css" href="~/Content/style.css" />*@

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            @*<div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                @*<div class="modal-body">
                    <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>*@
        </div>

    </div>
</div>

<h2>PROJECT MANAGEMENT</h2>


  @Html.ActionLink("Create New Project", "Create", null, new { @class = "btn btn-info btn-lg btn3d", id = "projectCreate", data_toggle = "modal", data_target = "#myModal" })

<table class="table">
    <tr>
        <th style="vertical-align:middle; text-align:center">Project</th>
        <th style="vertical-align:middle; text-align:center">Project Status</th>
        <th style="vertical-align:middle; text-align:center">Project Start Date</th>
        <th style="vertical-align:middle; text-align:center">Project End Date</th>
        <th style="vertical-align:middle; text-align:center">Your Role</th>
    </tr>

    @foreach (var item in Model.Projects)
    {
        string selectedRow = "";
        if (item.ProjectID == ViewBag.ProjectID)
        {
            selectedRow = "success";
        }
        else
        {
            selectedRow = "default";
        }

        <tr class="@selectedRow">
            <td style="vertical-align:middle; text-align:center">
                @Html.ActionLink(item.ProjectName, "Index", new { id = item.ProjectID })
            </td>
            <td style="vertical-align:middle; text-align:center">
                @Html.DisplayFor(modelItem => item.ProjectStatus)
            </td>
            <td style="vertical-align:middle; text-align:center">
                @Html.TextBoxFor(modelItem => item.ProjectStartDate, "{0:dd/MM/yyyy}", new { @class = "my-dateStyle", @readonly = true })
            </td>
            <td style="vertical-align:middle; text-align:center">
                @Html.TextBoxFor(modelItem => item.ProjectEndDate, "{0:dd/MM/yyyy}", new { @class = "my-dateStyle", @readonly = true })
            </td>
            @*<td>
                    @{
                        foreach (var report in item.Reports)
                        {
                            @report.ReportName @: @report.Status <br />
                        }
                    }
                </td>*@
            @if (!position.Equals("null") && pid == item.ProjectID)
            {
                <td style="vertical-align:middle; text-align:center">@position</td>
            }
            <td style="vertical-align:middle; text-align:center">

                @if (position.Equals("Project Manager") && pid == item.ProjectID)
                {
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-th-list">  Manage</span>
                        </button>
                        <ul class="dropdown-menu">

                            <li>@Html.ActionLink("Create Report", "Create", "Report", new { id = item.ProjectID }, new { id = "reportCreate", data_toggle = "modal", data_target = "#myModal" })</li>
                            @*<li>@Html.ActionLink("Add Member", "Create", "Member", new { pid = item.ProjectID }, new { data_toggle = "modal", data_target = "#myModal" })</li>*@
                            <li>@Html.ActionLink("Edit Project", "Edit", new { id = item.ProjectID }, new { id = "reportEdit", data_toggle = "modal", data_target = "#myModal" })</li>
                            <li>@Html.ActionLink("Manage Member", "Details", new { id = item.ProjectID }) </li>
                            <li>@Html.ActionLink("Delete Project", "Delete", new { id = item.ProjectID }, new { data_toggle = "modal", data_target = "#myModal" })</li>
                        </ul>
                    </div>
                }
                else if (pid == item.ProjectID)
                {
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-th-list">  Manage</span>
                        </button>
                        <ul class="dropdown-menu">

                            <li>@Html.ActionLink("Project Details", "Details", new { id = item.ProjectID })</li>

                        </ul>
                    </div>
                }
                else
                {
                }

            </td>
        </tr>
    }
</table>

@if (Model.Reports != null)
{
    @*@Html.ActionLink("Create New Report", "Create", "Report")*@

    <h3>Report Related With Project</h3>
    <table class="table">
        <tr>
            <th style="vertical-align:middle; text-align:center">Report Name</th>
            <th style="vertical-align:middle; text-align:center">Report Status</th>
            <th style="vertical-align:middle; text-align:center">Report Created Date</th>
            <th style="vertical-align:middle; text-align:center"></th>
        </tr>

        @foreach (var item in Model.Reports)
        {
            string selectedRow = "";
            if (item.ReportID == ViewBag.ReportID)
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td style="vertical-align:middle; text-align:center">
                    @Html.ActionLink(@item.ReportName, "Index", new { reportID = item.ReportID })
                </td>
                <td style="vertical-align:middle; text-align:center">
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td style="vertical-align:middle; text-align:center">
                    @Html.TextBoxFor(modelItem => item.CreatedDate, "{0:dd/MM/yyyy}", new { @class = "my-dateStyle", @readonly = true })
                </td>
                <td style="vertical-align:middle; text-align:center">
                    @*@switch (position)
                        {
                            case "Director":*@
                    @if (position.Equals("Director") && rid == item.ReportID)
                    {
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-th-list">  Manage</span>
                            </button>
                            <ul class="dropdown-menu">

                                @*<li>@Html.ActionLink("Approve Report", "Approve", "Action", new { id = item.ReportID }, null)</li>
                                <li>@Html.ActionLink("Reject Report", "Reject", "Action", new { id = item.ReportID }, null)</li>*@
                                @*<li>@Html.ActionLink("Create Opinion", "Create", "Opinion", new { mid = uid ,rid = item.ReportID, date = DateTime.Now}, null)</li>*@
                                <li>@Html.ActionLink("Edit Report", "Edit", "Report", new { id = item.ReportID, pid = item.ProjectID }, null) </li>
                                <li>@Html.ActionLink("Report Details", "Details", "Report", new { id = item.ReportID, pid = item.ProjectID }, null) </li>
                            </ul>
                        </div>
                    }
                    @*break;
                        case "Project Reviewer":*@
                    else if (position.Equals("Project Reviewer") && rid == item.ReportID)
                    {
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-th-list">  Manage</span>
                            </button>
                            <ul class="dropdown-menu">

                                @*<li>@Html.ActionLink("Review Report", "Review", "Action", new { id = item.ReportID }, null)</li>*@
                                @*<li>@Html.ActionLink("Create Opinion", "Reject", "Action", new { userID = uid, id = item.ReportID, date = DateTime.Now }, null)</li>*@
                                <li>@Html.ActionLink("Edit Report", "Edit", "Report", new { id = item.ReportID, pid = item.ProjectID }, null) </li>                            
                                <li>@Html.ActionLink("Report Details", "Details", "Report", new { id = item.ReportID, pid = item.ProjectID }, null) </li>
                            </ul>
                        </div>
                    }
                    else if (rid == item.ReportID)
                    {
                            @*break;
                                default: // Project manager*@
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-th-list">  Manage</span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Edit Report", "Edit", "Report", new { id = item.ReportID, pid = item.ProjectID }, null) </li>
                                    <li>@Html.ActionLink("Report Details", "Details", "Report", new { id = item.ReportID, pid = item.ProjectID }, null) </li>
                                </ul>
                            </div>
                    }
                    else { }
                            @*break;
                                }*@
                        </td>
                    </tr>
        }
    </table>
}

@if (Model.Opinions != null)
{
    @*@Html.ActionLink("Create New Opinion", "Create", "Opinion")*@
    <h3>
        Opinion Created in Report
    </h3>
    <table class="table">
        <tr>
            <th style="vertical-align:middle; text-align:center">Opinion</th>
            <th style="vertical-align:middle; text-align:center">Created By</th>
            <th style="vertical-align:middle; text-align:center">Position</th>
            <th style="vertical-align:middle; text-align:center">Created Date</th>
            <th style="vertical-align:middle; text-align:center"></th>
        </tr>
        @foreach (var item in Model.Opinions)
        {
            var rowStatus = "";
            if(item.Status == "not acknowledge")
            {
                rowStatus = "danger";
            }
            else
            {
                rowStatus = "success";
            }
            <tr class="@rowStatus">
                <td style="vertical-align:middle; text-align:center">
                    @Html.DisplayFor(modelItem => item.Opinion1)
                </td>
                <td style="vertical-align:middle; text-align:center">
                    @Html.DisplayFor(modelItem => item.Member.User.FullName)
                </td>
                <td style="vertical-align:middle; text-align:center">
                    @Html.DisplayFor(modelitem => item.Member.MemberPosition)
                </td>
                <td style="vertical-align:middle; text-align:center">
                    @Html.TextBoxFor(modelItem => item.DateCreated, "{0:dd/MM/yyyy}", new { @class = "my-dateStyle", @readonly = true })
                </td>
                <td style="vertical-align:middle; text-align:center">
                    @switch (position)
                    {
                        case "Director":
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-th-list">  Manage</span>
                                </button>
                                <ul class="dropdown-menu">

                                    <li>@Html.ActionLink("Edit Opinion", "Edit", "Opinion", new { id = item.OpinionID }, new { data_toggle = "modal", data_target = "#myModal" })</li>
                                    <li>@Html.ActionLink("Delete Opinion", "Delete", "Opinion", new { id = item.OpinionID }, new { data_toggle = "modal", data_target = "#myModal" }) </li>
                                </ul>
                            </div>
                            break;
                        case "Project Reviewer":
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-th-list">  Manage</span>
                                </button>
                                <ul class="dropdown-menu">

                                    <li>@Html.ActionLink("Edit Opinion", "Edit", "Opinion", new { id = item.OpinionID }, new { data_toggle = "modal", data_target = "#myModal" })</li>
                                    <li>@Html.ActionLink("Delete Opinion", "Delete", "Opinion", new { id = item.OpinionID }, new { data_toggle = "modal", data_target = "#myModal" }) </li>
                                </ul>
                            </div>
                            break;
                        case "Project Manager":

                                @Html.ActionLink("Acknowkedge", "Acknowledge", "Opinion", new { id = item.OpinionID }, new { @class = "btn btn-success"});

                            break;
                        default: // other position
                            break;
                    }
                </td>
            </tr>
        }
    </table>
}

@section Scripts{
    <script>
        $(document).ready(function () {

            //if (position == 'null' && uid != 1) {
            //    alert("Failed");
            //}
            
            //alert(@ViewBag.ErrorMessage);
        })
    </script>
}