@model ProjectManagement2.User

@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm("Login", "User", FormMethod.Post))
{
    <fieldset>
        @*<div id="loader">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="lading"></div>
        </div>*@
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @if (@ViewBag.Message != null)
        {
            <div style="border: 1px solid red">
                @ViewBag.Message
            </div>
        }

        <div class="container">
        <div class="login-container">
            <div id="output"></div>
            <div class="avatar"></div>
            <div class="form-box">
                    <input name="Username" type="text" placeholder="username">
                    <input name="Password"type="password" placeholder="password">
                    <button id ="btnsubmit" class="btn btn-info btn-block login" type="submit">Login</button>
            </div>
        </div>

        </div>
        @*<table>
            <tr>
                <td>@Html.LabelFor(a => a.Username)</td>
                <td>@Html.TextBoxFor(a => a.Username)</td>
                <td>@Html.ValidationMessageFor(a => a.Username)</td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(a => a.Password)
                </td>
                <td>
                    @Html.PasswordFor(a => a.Password)
                </td>
                <td>
                    @Html.ValidationMessageFor(a => a.Password)
                </td>
            </tr>


            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Login" />
                </td>
                <td></td>
            </tr>
        </table>*@
    </fieldset>
}
@section scripts {

    <script>
        $document.ready(function () {



        var textfield = $("input[name=user]");
        $('button[type="submit"]').click(function (e) {
            e.preventDefault();
            //little validation just to check username
            if (textfield.val() != "") {
                //$("body").scrollTo("#output");
                $("#output").addClass("alert alert-success animated fadeInUp").html("Welcome back " + "<span style='text-transform:uppercase'>" + textfield.val() + "</span>");
                $("#output").removeClass(' alert-danger');
                $("input").css({
                    "height": "0",
                    "padding": "0",
                    "margin": "0",
                    "opacity": "0"
                });
                //change button text
                $('button[type="submit"]').html("continue")
                    .removeClass("btn-info")
                    .addClass("btn-default").click(function () {
                        $("input").css({
                            "height": "auto",
                            "padding": "10px",
                            "opacity": "1"
                        }).val("");
                    });

                //show avatar
                $(".avatar").css({
                    "background-image": "url('http://api.randomuser.me/0.3.2/portraits/women/35.jpg')"
                });
            } else {
                //remove success mesage replaced with error message
                $("#output").removeClass(' alert alert-success');
                $("#output").addClass("alert alert-danger animated fadeInUp").html("sorry enter a username ");
            }
            //console.log(textfield.val());


        });

    </script>

}